.chat-section {
  margin-top: 50px;
  justify-content: center;
  display: flex;
  gap: 20px;
  margin-bottom: 134px;
}

.chat-box {
  width: 415px;
  height: 698px;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.box-model {
  width: 2px;
  background: #ebe9e4;
}

.chat-box h2 {
  margin: 0px;
  background-color: #F9F7F2;
}

.chat-window {
  flex: 1;
}

.user-header, .admin-header {
  display: flex;
  align-items: center;
}

.user-name, .admin-name {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 94%;
  color: #000;
}

.user-name p, .admin-name p {
  margin: 0px;
}

.user-name span, .admin-name span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
  line-height: 131%;
  color: #ff4641;
}

.user-img, .admin-img {
  margin: 27px 19px 27px 26px;
}

.user-rate {
  margin-left: 47px;
  margin-right: 19px;
}

.header-underline {
  width: 415px;
  height: 1px;
  background: #ececec;

}

.chat-message {
  background-color: #f1f1f1;
  flex-grow: 1;
}

.chat-messages {
  overflow-y: auto;
  scroll-behavior: smooth;

}

/* .chat-messages scroll {
  border-radius: 4px;
  width: 3px;
  height: 11px;
  
} */

.chat-messages::-webkit-scrollbar {
  width: 3px;
height: 11px;
color: #ff4641;
}


.chat-messages::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 6px;
}

.chat-messages::-webkit-scrollbar-thumb:hover {
  background: darkred;
}

/* .chat-messages::-webkit-scrollbar {
  width: 8px;
} */

/* .chat-messages::-webkit-scrollbar-track  { */
  /* -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset; */
  /* background-color: #f9f9fd; */
  /* ba/ckground-color: red; */
/* } */

/* .chat-messages::-webkit-scrollbar-thumb { */
  /* background-color: red; */

/* } */

/* .chat-messages::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
} */

.chat-message.user, .chat-message.admin {
  background-color: #F9F7F2;
  width: 385px;
  margin: 10px 15px 14px 14px;
  text-align: left;
  padding: 5px;
}

.chat-message.admin {
  background-color: #fff;
}

.chat-input {
  display: flex;
  border-top: 1px solid #ddd;
  padding: 10px;
  align-items: center;
}

.chat-input input {
  border: 1px solid #ddd;
  margin-right: 15px;
  margin-left: 19px;
  width: 270px;
  height: 49px;

}

.chat-input a {
  cursor: pointer;
}

.chat-message {
  display: flex;
  align-items: flex-start;
  /* margin-bottom: 10px; */
}

.chat-message .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-message .message-content {
  max-width: calc(100% - 50px);
  word-wrap: break-word;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.chat-message.user .avatar {
  background-image: url("./image/iconChat/user-img.svg");
  background-size: cover;
}

.chat-message.admin .avatar {
  background-image: url("./image/iconChat/admin-img.svg");
  background-size: cover;
}